<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comac.enterprise.mapper.SempClaimsSolutionsInfoMapper">
    
    <resultMap type="SempClaimsSolutionsInfo" id="SempClaimsSolutionsInfoResult">
        <result property="id"    column="id"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="claimsTime"    column="claims_time"    />
        <result property="claimsContent"    column="claims_content"    />
        <result property="solution"    column="solution"    />
        <result property="solutionResult"    column="solution_result"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSempClaimsSolutionsInfoVo">
        select id, enterprise_id, claims_time, claims_content, solution, solution_result, create_user, create_time, update_user, update_time, status from semp_claims_solutions_info
    </sql>

    <select id="selectSempClaimsSolutionsInfoList" parameterType="SempClaimsSolutionsInfo" resultMap="SempClaimsSolutionsInfoResult">
        <include refid="selectSempClaimsSolutionsInfoVo"/>
        <where>  
            <if test="enterpriseId != null "> and enterprise_id = #{enterpriseId}</if>
            <if test="claimsTime != null "> and claims_time = #{claimsTime}</if>
            <if test="claimsContent != null  and claimsContent != ''"> and claims_content = #{claimsContent}</if>
            <if test="solution != null  and solution != ''"> and solution = #{solution}</if>
            <if test="solutionResult != null  and solutionResult != ''"> and solution_result = #{solutionResult}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSempClaimsSolutionsInfoById" parameterType="Long" resultMap="SempClaimsSolutionsInfoResult">
        <include refid="selectSempClaimsSolutionsInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSempClaimsSolutionsInfo" parameterType="SempClaimsSolutionsInfo" useGeneratedKeys="true" keyProperty="id">
        insert into semp_claims_solutions_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">enterprise_id,</if>
            <if test="claimsTime != null">claims_time,</if>
            <if test="claimsContent != null">claims_content,</if>
            <if test="solution != null">solution,</if>
            <if test="solutionResult != null">solution_result,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">#{enterpriseId},</if>
            <if test="claimsTime != null">#{claimsTime},</if>
            <if test="claimsContent != null">#{claimsContent},</if>
            <if test="solution != null">#{solution},</if>
            <if test="solutionResult != null">#{solutionResult},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateSempClaimsSolutionsInfo" parameterType="SempClaimsSolutionsInfo">
        update semp_claims_solutions_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if test="claimsTime != null">claims_time = #{claimsTime},</if>
            <if test="claimsContent != null">claims_content = #{claimsContent},</if>
            <if test="solution != null">solution = #{solution},</if>
            <if test="solutionResult != null">solution_result = #{solutionResult},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSempClaimsSolutionsInfoById" parameterType="Long">
        delete from semp_claims_solutions_info where id = #{id}
    </delete>

    <delete id="deleteSempClaimsSolutionsInfoByIds" parameterType="String">
        delete from semp_claims_solutions_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteSempClaimsSolutionsInfoByEnterpriseId">
        delete from semp_claims_solutions_info where enterprise_id = #{id}

    </delete>
</mapper>